.can {
}
.can__header {
}
.can__inner {
    background-color: #3C3C3C;
    width: 100%;
    min-height: 18.2rem;

    margin-top: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.can__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 600px) {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding: 3rem 0;
    }
}
.can__item {
    @media (max-width: 600px) {
        flex: 0 1 33.333%;
        margin-bottom: 2rem;

        img {
        }
    }

    @media (max-width: 391px) {
        flex: 1 1 100%;
        margin-bottom: 4rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}