@media (prefers-color-scheme: dark) {
    body {
        color: #1F1F1F;
        background-color: #1D1D1D;
    }
} 

.page__reset {
    &.active {
        .btn {
            border: 1px solid #fff;
        }
    }
}

.page__theme {
    width: 15px;
    height: 24px;
    transition: all .2s linear;

    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

html.dark body {
    color: #fff;
    background-color: #1D1D1D;
}

html.light {

    .header-block__title  {
        color: #1F1F1F;
    }

    .nav__link {
        &:hover {
            color: #1D1D1D;
        }
    }

    .intro {
        &:before {
            display: none;
        }
    
        &:after {
            display: none;
        }
    }

    .portfolio__item-content {
        background-color: #1D1D1D;
    }

    .portfolio__item-suptitle {
        color: #D2D2D2;
    }

    .portfolio__item-title {
        color: #fff;    
    }
    .portfolio__item-year {
        color: #fff;
    }

    .about {
        &:before {
            display: none;
        }
    }

    .about__text {
        color: #1D1D1D;
    }

    .footer__copy {
        color: #1D1D1D;
    }
    .footer__social-item {
        svg {
            fill: #1D1D1D;
    
            &:hover {
                fill: #6433C0;
            }
        }
    }

    .header__menu {
        &:after,
        &:before,
        span {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 3px;
            background: #000;
            box-shadow: 
                0 0.1em 0 0 black;
            border-radius: 1rem;
            margin-left: 1rem;
            transition: all .2s linear;
        }

        &.active {
            &:after,
            &:before,
            span {
                background: #fff;
            }
        }
    }

    .header {
    
        &.fixed {
            background-color: rgb(255, 255, 255);
            box-shadow: 3px 3px 10px 1px rgb(221, 221, 221);
        }
    }
}

html.light body {
    background-color: #fff;
    color: #000;
}

html.dark .page__theme {
    background: url('/assets/img/header/light.svg') 0 0 / 100% no-repeat;
    cursor: pointer;

    @media (max-width: 769px) {
    }
}

html.light .page__theme {
    background: url('/assets/img/header/dark.svg') 0 0 / 100% no-repeat;
    cursor: pointer;

    @media (max-width: 769px) {
    }
}
