.header {
    width: 100%;
    z-index: 1000;

    min-height: 12.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &.fixed {
        position: fixed;
        width: 100%;
        background-color: rgb(22, 22, 22);
        min-height: 5rem;
        box-shadow: 3px 3px 10px 1px #000;
        min-height: 0;
        height: auto;
        padding: 1rem 0;

        .header__container {
            &:after {
                width: 0;
            }
        }
    }
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &:after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: rgb(63, 63, 63);

        position: absolute;
        bottom: -2rem;
        left: 0;
    }
}
.header__logo {
    display: flex;
    align-items: center;

    @media (max-width: 993px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    @media (max-width: 769px) {
        flex: 1 1 150px;
        align-items: flex-start;
        text-align: left;
    }
}
.header__logo-photo {
    margin-right: 1.2rem;
    
    img {
        width: 100%;
        border: 4px solid #fff;
        border-radius: 50%;
    }

    @media (max-width: 993px) {
        width: 50px;
        
        img {
            border: 3px solid #fff;
        }
    }

    @media (max-width: 769px) {
    }
}
.header__logo-pers {
}
.header__logo-name {
    font-weight: 600;
    font-size: 1.6rem;

    @media (max-width: 993px) {
        font-size: 1.4rem;
    }
}
.header__logo-prof {
    font-weight: 600;
    font-size: 1rem;
    line-height: calc(12 / 10);
    color: #C9C9C9;    
}
.header__nav {
    @media (max-width: 769px) {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: rgba(0, 0, 0, .9);
        width: 100%;
        height: 100%;

        &.show {
            display: block;
        }
    }
}
.nav {
}
.nav__inner {
    display: flex;

    li {
        margin-right: 4.4rem;

        &:last-child {
            margin-right: 0;
            margin-bottom: 0;
        }

        @media (max-width: 1089px) {
            margin-right: 2rem;
        }

        @media (max-width: 769px) {
            margin-bottom: 2rem;
            margin-right: 0;
        }
    }

    @media (max-width: 769px) {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 50%;
        transform: translate(50%, -50%);
        top: 50%;
        text-align: center;
    }

    .header__manage-btn {
        display: none;
    }

    @media (max-width: 415px) {
        .header__manage-btn {
            display: block;
        }
    }
}
.nav__link {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: calc(20 / 16);
    color: #AFAFAF;    
    position: relative;

    &:after {
        content: "";
        width: 0;
        height: 1px;
        background-color: #6433C0;

        position: absolute;
        bottom: -5px;
        left: 0;
        transition: all .2s linear;
    }

    &:hover {
        color: #fff;

        &:after {
            width: 100%;
        }
    }

    @media (max-width: 993px) {
        font-size: 1.4rem;
    }

    @media (max-width: 840px) {
        font-size: 1.2rem;
    }

    @media (max-width: 769px) {
        font-size: 3.2rem;
    }
}
.header__manage {
    display: flex;
    align-items: center;
    
    .header__manage-btn {
        display: block;
        
        @media (max-width: 415px) {
            display: none;
        }
    }
}
.header__manage-light {
    cursor: pointer;
    fill: #fff;
    transition: all .2s linear;
    svg {
        width: 1.5rem;
        height: 2.4rem;
    }

    &:hover {
        fill: rgb(255, 235, 14);
        transform: scale(1.2);
    }

    @media (max-width: 769px) {
        display: none;
    }
}
.header__manage-lang {
    margin-left: 1.4rem;
    margin-right: 1rem;
    cursor: pointer;
    position: relative;

    &:hover {
        .header__manage-arrow {
            transform: rotate(180deg);
        }
    }

    @media (max-width: 769px) {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
.header__manage-flag {
    width: 30px;

    img {
        width: 100%;
    }
}
.header__manage-arrow {
    width: 10px;
    height: 10px;
    margin-left: 0.6rem;
    transition: all .2s linear;

    img {
        width: 100%;
    }
}
.nav__item {
    position: relative;
    &:hover {
        > .subnav {
            display: block;
        }
    }
}
.header__manage-btn {
}
.header__menu {
    position: relative;
    width: 30px;
    height: 30px;
    display: none;
    z-index: 1000;

    &:after,
    &:before,
    span {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background: #fff;
        box-shadow: 
            0 0.1em 0 0 black;
        border-radius: 1rem;
        margin-left: 1rem;
        transition: all .2s linear;
    }

    &:before {
        top: 3px;
        content: "";
    }

    &:after {
        bottom: 3px;
        content: "";
    }

    span {
        top: 50%;
        transform: translateY(-50%);
    }

    &.active {
        &:before {
            transform: rotate(45deg);
            top: 50%;
        }

        &:after {
            transform: rotate(-45deg);
            top: 50%;
        }

        span {
            display: none;
        }
    }

    @media (max-width: 769px) {
        display: block;
    }
}