<footer class="footer">
    <div class="footer__container">
        <div class="footer__item item-footer">
            <div class="item-footer__top">
                <div class="item-footer__icon">
                    <img src="" alt="">
                </div>
                <div class="item-footer__text footer__text">
                    <div class="footer__text-title"></div>
                    <div class="footer__text-subtitle"></div>
                </div>
            </div>
        </div>
    </div>
</footer>
