<header class="header">
    <div class="header__container">
        <div class="header__top">
            <div class="header__left left-header">
                <div class="left-header__mobile">
                    <button class="header__mobile-menu">
                        <img src="../assets/images/header/menu.svg" alt="">
                    </button>
                    <div class="left-header__logo">
                        <img src="../assets/images/header/logo.png" alt="">
                    </div>
                    <div class="left-header__profile">
                        <img src="../assets/images/header/profile.svg" alt="">
                    </div>
                </div>
                <div class="left-header__content header__content">
                    <div class="header__content-text">Welcome <span>Roma</span> — <span class="header__span">Logout</span></div>
                    <div class="header__content-text">Your balance: <span>Р 0,00</span></div>
                </div>
            </div>
            <div class="header__right right-header">
                <div class="right-header__social social">
                    <a class="social__item">
                        <svg>
                            <use xlink:href="#face"></use>
                        </svg>
                    </a>
                    <a class="social__item">
                        <svg>
                            <use xlink:href="#twit"></use>
                        </svg>
                    </a>
                    <a class="social__item">
                        <svg>
                            <use xlink:href="#massage"></use>
                        </svg>
                    </a>
                    <a class="social__item">
                        <svg>
                            <use xlink:href="#wats"></use>
                        </svg>
                    </a>
                </div>
                <div class="right-header__lang header__lang">
                    <div class="header__lang-flag">
                        <img src="../assets/images/header/flag.svg" alt="">
                    </div>
                    <div class="header__lang-text">English</div>
                </div>
            </div>
        </div>
        <div class="header__bottom">
            <nav class="header__nav nav">
                <ul class="nav__inner">
                    <li><a href="" class="nav__link">Home</a></li>
                    <li><a href="" class="nav__link">PLAY ALL lottery</a></li>
                    <li><a href="" class="nav__link">LOTTERY GROUPS</a></li>
                    <li><a href="" class="nav__link">Promotions</a></li>
                </ul>
            </nav>
            <a href="#" class="header__profile">My Account</a>
        </div>
    </div>
</header>
