<aside class="sidebar">
    <div class="sidebar__body">
        <div class="sidebar__title">Questions?</div>
        <div class="sidebar__text">contact us by:</div>
        <div class="sidebar__item item-sidebar">
            <div class="item-sidebar__title">Skype:</div>
            <div class="item-sidebar__text">sales@mekashron.com</div>
        </div>
        <div class="sidebar__item item-sidebar">
            <div class="item-sidebar__text">or</div>
        </div>
        <div class="sidebar__item item-sidebar">
            <div class="item-sidebar__title">WhatsApp</div>
            <div class="item-sidebar__text">+972559461380</div>
        </div>
    </div>
</aside>