.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: #000000;
    cursor: pointer;

    background: #F7D300;
    border-radius: 8px;

    &--sm {
        min-height: 36px;
        padding: 0 51px;

        @media (max-width: 1269px) {
            padding: 0 25px;
        } 

        @media (max-width: 1185px) {
            font-size: 12px;
        }

        @media (max-width: 652px) {
            font-size: 16px;
        }
    }

    &--middle {
        min-height: 38px;
    }

    &--bg {
        min-height: 40px;
    }

    &:hover {
        background-color: darken(#F7D300, 5%);
    }
}