.draws {
    padding: 75px 0;
}
.draws__title {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(36 / 24);
    text-transform: uppercase;
    color: #000000;    
    margin-bottom: 30px;
}
.draws__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 -7.5px;
    padding: 0 15px;

    @media (max-width: 999px) {
        flex-wrap: wrap;
    }
}
.draws__col {
    width: 33.3333%;
    padding: 0 7.5px;
    display: flex;
    align-items: center;
    min-height: 149px;

    @media (max-width: 999px) {
        width: 50%;

        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
            width: 100%;
        }
    }

    @media (max-width: 652px) {
        width: 100%;
    }
}
.draws__item {
    height: 100%;
    width: 100%;
}
.item-draws {
}
.item-draws__body {
}
.draws__body {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 5px 10px 5px;
}
.draws__body-photo {
    max-width: 141px; 

    img {
        width: 100%;
    }
}
.draws__body-content {
}
.draws-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 63px;
}
.draws__body-header {
}
.draws-header {
    display: flex;
    align-items: center;
}
.draws-header__icon {
    margin-right: 10px;
}
.draws-header__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
}
.draws-content__value {
    font-weight: 700;
    font-size: 26px;
    line-height: 85%;
    color: #13902A;   
    
    @media (max-width: 1364px) {
        font-size: 20px;
    }

    @media (max-width: 1185px) {
        font-size: 16px;
    }

    @media (max-width: 652px) {
        font-size: 24px;
    }
}
.item-draws__bottom {
    background: #0061A3;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 0 0 10px 10px;
    padding: 13px 40px 8px 12px;

    @media (max-width: 1364px) {
        padding: 13px 10px 8px 12px;
    }

    @media (max-width: 652px) {
        padding: 13px 50px 8px 12px
    }
}
.draws__bottom-btn {
}
.btn {
}
.draws__bottom-time {
}
.time-draws {
    display: flex;
    align-items: center;
}
.time-draws__icon {
}
.time-draws__time {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(18 / 18);
    color: #FFFFFF;   
    
    @media (max-width: 1185px) {
        font-size: 14px;
    }
}