.intro {
    @media (max-width: 891px) {
        width: 100%;
    }
}
.intro__bg {
    max-width: 1200px;
    img {
        width: 100%;
    }

    @media (max-width: 891px) {
        max-width: 100%;
    }
}
.intro__inner {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;

    @media (max-width: 1112px) {
        flex-wrap: wrap;
        margin: 30px -15px 0;
    }
}
.intro__col {
    width: 32%;
    min-height: 90px;

    @media (max-width: 1112px) {
        width: 50%;
        padding: 0 15px;

        &:last-child {
            width: 100%;
            margin-top: 2rem;
        }
    }

    @media (max-width: 571px) {
        width: 100%;
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}
.intro__item {
    display: flex;
    align-items: center;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 5px;
    height: 100%;
}
.item-intro {
}
.item-intro__photo {
}
.item-intro__content {
}
.intro__content {
    margin-left: 4px;
}
.intro__content-header {
    display: flex;
    justify-content: space-between;
}
.intro__content-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    text-transform: uppercase;
    color: #000000;   
    
    @media (max-width: 1331px) {
        font-size: 14px;
    }
}
.intro__content-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(21 / 14);
    text-decoration-line: underline;
    color: #0061A3;  
    
    &:hover {
        text-decoration: none;
    }

    @media (max-width: 1331px) {
        font-size: 12px;
    }
}
.intro__content-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #5F5F5F; 
    margin-top: 5px;  
    
    @media (max-width: 1112px) {
        font-size: 12px;
    }
}