.play {
    padding-bottom: 75px;
}
.play__container {
}
.play__title {
    width: 100%;
    background-color: #F30000;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(24 / 18);
    text-align: center;
    
    border-radius: 8px;
    color: #FFFFFF; 
    padding: 10px 15px;   
    margin-bottom: 15px;

    @media (max-width: 515px) {
        font-size: 16px;
    }
}
.play__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 50px;

    @media (max-width: 1076px) {
        margin: 0 -10px;
        padding: 0 10px;
        justify-content: stretch;
    }
}
.play__col {
    width: 19%;

    &:last-child {
        margin-right: 0;
    }
    margin-bottom: 15px;

    @media (max-width: 1076px) {
        width: 25%;
        padding: 0 10px;
    }

    @media (max-width: 992px) {
        width: 33.33333%;
    }

    @media (max-width: 515px) {
        width: 50%;
    }
}
.play__item {
    text-align: center;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 12px;
    position: relative;
    width: 100%;
}
.item-play {
}
.item-play__decor {
    position: absolute;
    top: 10px;
    right: 18px;
}
.item-play__photo {
    margin-bottom: 28px;
}
.item-play__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.play__title-icon {
    margin-right: 3px;
}
.play__title-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 8px;

    @media (max-width: 515px) {
        font-size: 12px;
    }
}
.item-play__value {
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    color: #000000;  
    margin-bottom: 8px;  

    @media (max-width: 1272px) {
        font-size: 14px;
    }
}
.item-play__time {
}
.play__time {
    display: flex;
    align-items: center;
    justify-content: center;
}
.play__time-icon {
    margin-right: 4px;
}
.play__time-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 112%;
    color: #0061A3;    
}
.item-play__btn {
    margin-top: 12px;
    button {
        width: 100%;
    }
}
.btn {
}
.btn--middle {
}
.play__footer {
    text-align: right;
}
.play__link {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(24 / 18);
    text-decoration-line: underline;
    color: #0061A3;  
    margin-right: 50px;

    &:hover {
        text-decoration: none;
    }

    &:last-child {
        display: none;

        @media (max-width: 515px) {
            display: block;
            margin-right: 0;
        }
    }

    @media (max-width: 515px) {
        display: none;
    }
}